@model dp2StatisServer.ViewModels.EditInstanceViewModel
@{
    ViewBag.Title = "创建一个实例";
    var action = "CreateInstance";
    var action_caption = "创建";
    if (Model.Action == "change")
    {
        action = "ChangeInstance";
        action_caption = "修改";
    }
    else if (Model.Action == "delete")
    {
        action = "DeleteInstance";
        action_caption = "删除";
    }
}
<div class="card">
    @{
        var title = $"{action_caption}一个实例";
    }
    <div class="card-header">@title</div>
    <div class="card-body">

        @if (string.IsNullOrEmpty(Model.ErrorInfo) == false)
        {
            <div>
                <textarea asp-for="ErrorInfo" class="text-danger"></textarea>
            </div>
        }

        @if (string.IsNullOrEmpty(Model.SuccessInfo) == false)
        {
            <div>
                <textarea asp-for="SuccessInfo" class="text-primary text-success"></textarea>
            </div>
        }

        <form asp-controller="manage" asp-action="@action" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="card">
                <div class="card-header text-danger">危险操作</div>
                <div class="card-body">

                    <input asp-for="Action" hidden />

                    <div class="mb-3">
                        <label class="form-label" asp-for="InstanceName"></label>
                        @if (Model.Action == "change" || Model.Action == "delete")
                        {
                            <input class="form-control" asp-for="InstanceName" readonly="readonly" />
                        }
                        else
                        {
                            <input class="form-control" asp-for="InstanceName" />
                        }
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Description"></label>
                        @if (Model.Action == "delete")
                        {
                            <input class="form-control" asp-for="Description" readonly="readonly" />
                        }
                        else
                        {
                            <input class="form-control" asp-for="Description" />
                        }
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="ReplicateTime"></label>
                        @if (Model.Action == "delete")
                        {
                            <input class="form-control" asp-for="ReplicateTime" readonly="readonly" />
                        }
                        else
                        {
                            <input class="form-control" asp-for="ReplicateTime" />
                        }
                    </div>

                    @if (Model.Action == "delete")
                    {
                        <fieldset>
                            <div class="mb-3">
                                <label class="form-label" asp-for="AppServerUrl" class="text-black-50"></label>
                                <input class="form-control" asp-for="AppServerUrl" readonly="readonly" class="text-black-50" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label" asp-for="AppServerUserName" class="text-black-50"></label>
                                <input class="form-control" asp-for="AppServerUserName" readonly="readonly" class="text-black-50" />
                            </div>
                        </fieldset>
                    }
                    else
                    {
                        <fieldset>
                            <div class="mb-3">
                                <label class="form-label" asp-for="AppServerUrl"></label>
                                <input class="form-control" asp-for="AppServerUrl" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label" asp-for="AppServerUserName"></label>
                                <input class="form-control" asp-for="AppServerUserName" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label" asp-for="AppServerPassword"></label>
                                @Html.TextBoxFor(x => x.AppServerPassword, new { type = "password", @class="form-control"})
                            </div>
                        </fieldset>
                    }

                    @if (Model.Action == "create")
                    {
                        <div class="mb-3">
                            <label class="form-label" asp-for="AdminPassword"></label>
                            @Html.TextBoxFor(x => x.AdminPassword, new { type = "password" , @class="form-control"})
                            <label class="form-label" asp-for="InstanceUserPassword"></label>
                            @Html.TextBoxFor(x => x.InstanceUserPassword, new { type = "password", @class="form-control" })
                        </div>
                    }

                    @if (Model.Action == "delete")
                    {
                        <div class="mb-3">
                            <label class="form-label" asp-for="AdminPassword"></label>
                            @Html.TextBoxFor(x => x.AdminPassword, new { type = "password", @class="form-control" })
                        </div>
                    }

                    @if (Model.Action == "change")
                    {
                        <button type="submit" class="form-control btn btn-danger">
                            @string.Format("{0}一个实例", action_caption)
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="form-control btn btn-danger" onclick="return confirm('您确实要 @action_caption 一个实例？\r\n\r\n(警告: 这将摧毁实例内全部数据，并无法挽回。请慎重操作)')">
                            @string.Format("{0}一个实例", action_caption)
                        </button>
                    }
                </div>
            </div>
        </form>
    </div>

</div>

